body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:1404px;
  height:77px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:19px;
  width:339px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:2334px;
  width:17px;
  height:23px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:2258px;
  width:17px;
  height:23px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:176px;
  width:1367px;
  height:718px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:40px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:535px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:518px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:0px;
  width:99px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:0px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:57px;
  height:43px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:163px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:43px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:40px;
  width:165px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:43px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:40px;
  width:535px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:40px;
  width:113px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:40px;
  width:101px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:40px;
  width:99px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:40px;
  width:134px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:57px;
  height:49px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:40px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:49px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:83px;
  width:163px;
  height:49px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:49px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:83px;
  width:165px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:49px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:83px;
  width:535px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:518px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:49px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:83px;
  width:113px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:83px;
  width:101px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:83px;
  width:99px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:83px;
  width:134px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:57px;
  height:40px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:132px;
  width:163px;
  height:40px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:132px;
  width:165px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:40px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:132px;
  width:535px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:518px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:132px;
  width:113px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:132px;
  width:101px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:132px;
  width:99px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:82px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:132px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:172px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:172px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:172px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:172px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:172px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:172px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:172px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:57px;
  height:48px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:40px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:213px;
  width:163px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:213px;
  width:165px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:48px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:213px;
  width:535px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:518px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:213px;
  width:113px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:213px;
  width:101px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:48px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:213px;
  width:99px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:213px;
  width:134px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:117px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:57px;
  height:57px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:261px;
  width:163px;
  height:57px;
  text-align:left;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:57px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:261px;
  width:165px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:57px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:261px;
  width:535px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:518px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:57px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:261px;
  width:113px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:261px;
  width:101px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:57px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:261px;
  width:99px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:57px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:261px;
  width:134px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:117px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:57px;
  height:55px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:55px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:318px;
  width:163px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:318px;
  width:165px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:55px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:318px;
  width:535px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:318px;
  width:113px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:55px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:318px;
  width:101px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:55px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:318px;
  width:99px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:82px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:55px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:318px;
  width:134px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:117px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:44px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:373px;
  width:57px;
  height:44px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:44px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:373px;
  width:163px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:373px;
  width:165px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:44px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:373px;
  width:535px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:518px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:373px;
  width:113px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:373px;
  width:101px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:44px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:373px;
  width:99px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:82px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:373px;
  width:134px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:417px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:417px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:417px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:417px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:417px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:417px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:417px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:417px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:38px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:458px;
  width:57px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:38px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:458px;
  width:163px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:38px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:458px;
  width:165px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:38px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:458px;
  width:535px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:518px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:458px;
  width:113px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:458px;
  width:101px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:458px;
  width:99px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:458px;
  width:134px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:496px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:496px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:496px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:496px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:496px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:496px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:496px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:496px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:537px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:537px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:537px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:537px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:537px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:537px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:537px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:537px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:578px;
  width:57px;
  height:58px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:40px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:578px;
  width:163px;
  height:58px;
  text-align:left;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:58px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:578px;
  width:165px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:58px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:578px;
  width:535px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:518px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:58px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:578px;
  width:113px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:578px;
  width:101px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:84px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:578px;
  width:99px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:58px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:578px;
  width:134px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:117px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:636px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:636px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:636px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:636px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:636px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:636px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:636px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:636px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:677px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:677px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:677px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:677px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:677px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:677px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:677px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:677px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:101px;
  width:313px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:101px;
  width:380px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
