body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:64px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:1900px;
  height:64px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1048_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1048.mouseOver {
}
#u1048_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1048.mouseDown {
}
#u1048_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1048.selected {
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1049_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1049.mouseOver {
}
#u1049_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1049.mouseDown {
}
#u1049_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1049.selected {
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:20px;
  width:172px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1051_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1051.mouseOver {
}
#u1051_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1051.mouseDown {
}
#u1051_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1051.selected {
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1052_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1052.mouseOver {
}
#u1052_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1052.mouseDown {
}
#u1052_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1052.selected {
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1053_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1053.mouseOver {
}
#u1053_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1053.mouseDown {
}
#u1053_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1053.selected {
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1054_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1054.mouseOver {
}
#u1054_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1054.mouseDown {
}
#u1054_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1054.selected {
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1055_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1055.mouseOver {
}
#u1055_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1055.mouseDown {
}
#u1055_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1055.selected {
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:149px;
  width:1247px;
  height:792px;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:43px;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:85px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:111px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:34px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:545px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:541px;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:0px;
  width:82px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:130px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:117px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:0px;
  width:130px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:200px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:47px;
  height:200px;
  text-align:center;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:43px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:200px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:34px;
  width:85px;
  height:200px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:81px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:200px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:34px;
  width:111px;
  height:200px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:107px;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:200px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:34px;
  width:545px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:541px;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:200px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:34px;
  width:82px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9933FF;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:200px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:34px;
  width:130px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:200px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:34px;
  width:117px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:113px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:200px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:34px;
  width:130px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:104px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:47px;
  height:104px;
  text-align:center;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:43px;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:104px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:234px;
  width:85px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:81px;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:104px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:234px;
  width:111px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:107px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:104px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:234px;
  width:545px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:541px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:104px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:234px;
  width:82px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9933FF;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:104px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:234px;
  width:130px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:126px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:104px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:234px;
  width:117px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:113px;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:104px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:234px;
  width:130px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:104px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:47px;
  height:104px;
  text-align:center;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:43px;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:104px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:338px;
  width:85px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:81px;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:104px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:338px;
  width:111px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:104px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:338px;
  width:545px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:541px;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:104px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:338px;
  width:82px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9933FF;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:104px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:338px;
  width:130px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:104px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:338px;
  width:117px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:113px;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:104px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:338px;
  width:130px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:108px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:442px;
  width:47px;
  height:108px;
  text-align:center;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:43px;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:108px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:442px;
  width:85px;
  height:108px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:81px;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:108px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:442px;
  width:111px;
  height:108px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:107px;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:108px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:442px;
  width:545px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:541px;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:108px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:442px;
  width:82px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9933FF;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:108px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:442px;
  width:130px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:108px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:442px;
  width:117px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:113px;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:108px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:442px;
  width:130px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:242px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:47px;
  height:242px;
  text-align:center;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:113px;
  width:43px;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:242px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:550px;
  width:85px;
  height:242px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:81px;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:242px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:550px;
  width:111px;
  height:242px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:107px;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:242px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:550px;
  width:545px;
  height:242px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:541px;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:242px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:550px;
  width:82px;
  height:242px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9933FF;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:242px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:550px;
  width:130px;
  height:242px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:242px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:550px;
  width:117px;
  height:242px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:113px;
  width:113px;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:242px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:550px;
  width:130px;
  height:242px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:111px;
  width:246px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:100px;
  width:542px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:522px;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:220px;
  width:87px;
  height:27px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:257px;
  width:87px;
  height:27px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:294px;
  width:87px;
  height:27px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:331px;
  width:87px;
  height:27px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:503px;
  width:87px;
  height:27px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:553px;
  width:87px;
  height:27px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:634px;
  width:87px;
  height:27px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:808px;
  width:36px;
  height:30px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
