body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1538px;
  height:859px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5080 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:1538px;
  height:859px;
}
#u5080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1492px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:1492px;
  height:77px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5082 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5082_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5082.mouseOver {
}
#u5082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5083 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5083_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5083.mouseOver {
}
#u5083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5084 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5084_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5084.mouseOver {
}
#u5084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5085 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5085_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5085.mouseOver {
}
#u5085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5086 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:23px;
  width:214px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u5087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5087 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:15px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5087_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5087.mouseOver {
}
#u5087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5088 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5088_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u5088.mouseOver {
}
#u5088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:694px;
  background:inherit;
  background-color:rgba(52, 73, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 73, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:166px;
  height:694px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1492px;
  height:91px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:1492px;
  height:91px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5091 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:107px;
  width:101px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5092 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:176px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5092_img.mouseOver {
}
#u5092.mouseOver {
}
#u5092_img.selected {
}
#u5092.selected {
}
#u5092_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5093 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:428px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5093_img.mouseOver {
}
#u5093.mouseOver {
}
#u5093_img.selected {
}
#u5093.selected {
}
#u5093_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5094 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:227px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5094_img.mouseOver {
}
#u5094.mouseOver {
}
#u5094_img.selected {
}
#u5094.selected {
}
#u5094_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5095 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:475px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5095_img.mouseOver {
}
#u5095.mouseOver {
}
#u5095_img.selected {
}
#u5095.selected {
}
#u5095_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5096 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:526px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5096_img.mouseOver {
}
#u5096.mouseOver {
}
#u5096_img.selected {
}
#u5096.selected {
}
#u5096_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:577px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5097_img.mouseOver {
}
#u5097.mouseOver {
}
#u5097_img.selected {
}
#u5097.selected {
}
#u5097_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:628px;
  width:145px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u5098_img.mouseOver {
}
#u5098.mouseOver {
}
#u5098_img.selected {
}
#u5098.selected {
}
#u5098_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:679px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5099_img.mouseOver {
}
#u5099.mouseOver {
}
#u5099_img.selected {
}
#u5099.selected {
}
#u5099_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:730px;
  width:145px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u5100_img.mouseOver {
}
#u5100.mouseOver {
}
#u5100_img.selected {
}
#u5100.selected {
}
#u5100_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:378px;
  width:145px;
  height:51px;
  font-size:16px;
  color:#F2F2F2;
  text-align:left;
}
#u5101_img.mouseOver {
}
#u5101.mouseOver {
}
#u5101_img.selected {
}
#u5101.selected {
}
#u5101_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:327px;
  width:145px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u5102_img.mouseOver {
}
#u5102.mouseOver {
}
#u5102_img.selected {
}
#u5102.selected {
}
#u5102_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u5103 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:278px;
  width:145px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u5103_img.mouseOver {
}
#u5103.mouseOver {
}
#u5103_img.selected {
}
#u5103.selected {
}
#u5103_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u5104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:293px;
  width:24px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u5105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:339px;
  width:24px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u5106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:126px;
  width:1322px;
  height:33px;
  text-align:left;
}
#u5106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1318px;
  word-wrap:break-word;
}
#u5107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:92px;
  width:81px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u5107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:186px;
  width:1318px;
  height:41px;
  color:#FF0000;
  text-align:left;
}
#u5108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1314px;
  word-wrap:break-word;
}
#u5109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:133px;
  width:81px;
  height:33px;
}
#u5109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u5110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:361px;
  width:323px;
  height:22px;
}
#u5110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u5111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:268px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5112 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:313px;
  width:98px;
  height:27px;
}
#u5112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u5113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:358px;
  width:98px;
  height:27px;
}
#u5113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u5114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:405px;
  width:98px;
  height:27px;
}
#u5114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u5115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:467px;
  width:98px;
  height:27px;
}
#u5115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u5116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:612px;
  width:107px;
  height:16px;
}
#u5116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:612px;
  width:135px;
  height:16px;
}
#u5117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u5118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:612px;
  width:121px;
  height:16px;
}
#u5118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:700px;
  width:1321px;
  height:55px;
}
#u5120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u5120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u5121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:55px;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:82px;
  height:55px;
}
#u5121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u5122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:55px;
}
#u5122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:55px;
}
#u5123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:55px;
}
#u5124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:102px;
  height:55px;
  color:#000000;
}
#u5125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u5126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:0px;
  width:100px;
  height:55px;
  color:#000000;
}
#u5126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:0px;
  width:100px;
  height:55px;
  color:#000000;
}
#u5127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:0px;
  width:125px;
  height:55px;
}
#u5128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u5129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:0px;
  width:102px;
  height:55px;
}
#u5129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u5130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:0px;
  width:102px;
  height:55px;
  color:#000000;
}
#u5130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u5131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:55px;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:0px;
  width:101px;
  height:55px;
}
#u5131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u5132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:55px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:0px;
  width:89px;
  height:55px;
  color:#000000;
}
#u5132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  word-wrap:break-word;
}
#u5133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:663px;
  width:99px;
  height:16px;
  color:#0000FF;
}
#u5133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:411px;
  width:887px;
  height:96px;
  color:#0000FF;
}
#u5134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  white-space:nowrap;
}
#u5135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:784px;
  width:257px;
  height:16px;
  color:#0000FF;
}
#u5135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u5136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:684px;
  width:1px;
  height:16px;
}
#u5136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
