body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:77px;
}
#u1 {
  position:absolute;
  left:0px;
  top:-2px;
  width:1404px;
  height:77px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u2 {
  position:absolute;
  left:50px;
  top:20px;
  width:1352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:38px;
  top:19px;
  width:339px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u5 {
  position:absolute;
  left:992px;
  top:2334px;
  width:17px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u7 {
  position:absolute;
  left:992px;
  top:2258px;
  width:17px;
  height:23px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:14px;
  top:176px;
  width:1372px;
  height:723px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u11 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u12 {
  position:absolute;
  left:57px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u13 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u14 {
  position:absolute;
  left:220px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u15 {
  position:absolute;
  left:15px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:40px;
}
#u16 {
  position:absolute;
  left:385px;
  top:0px;
  width:535px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u17 {
  position:absolute;
  left:15px;
  top:12px;
  width:518px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u18 {
  position:absolute;
  left:920px;
  top:0px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u19 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u20 {
  position:absolute;
  left:1033px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u21 {
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u22 {
  position:absolute;
  left:1134px;
  top:0px;
  width:99px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u23 {
  position:absolute;
  left:15px;
  top:12px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u24 {
  position:absolute;
  left:1233px;
  top:0px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u25 {
  position:absolute;
  left:15px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u26 {
  position:absolute;
  left:0px;
  top:40px;
  width:57px;
  height:43px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27 {
  position:absolute;
  left:15px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u28 {
  position:absolute;
  left:57px;
  top:40px;
  width:163px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29 {
  position:absolute;
  left:15px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:43px;
}
#u30 {
  position:absolute;
  left:220px;
  top:40px;
  width:165px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u31 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:43px;
}
#u32 {
  position:absolute;
  left:385px;
  top:40px;
  width:535px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u33 {
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u34 {
  position:absolute;
  left:920px;
  top:40px;
  width:113px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u35 {
  position:absolute;
  left:15px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u36 {
  position:absolute;
  left:1033px;
  top:40px;
  width:101px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u37 {
  position:absolute;
  left:15px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
}
#u38 {
  position:absolute;
  left:1134px;
  top:40px;
  width:99px;
  height:43px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u39 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u40 {
  position:absolute;
  left:1233px;
  top:40px;
  width:134px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u41 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
}
#u42 {
  position:absolute;
  left:0px;
  top:83px;
  width:57px;
  height:49px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u43 {
  position:absolute;
  left:15px;
  top:16px;
  width:40px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:49px;
}
#u44 {
  position:absolute;
  left:57px;
  top:83px;
  width:163px;
  height:49px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u45 {
  position:absolute;
  left:15px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:49px;
}
#u46 {
  position:absolute;
  left:220px;
  top:83px;
  width:165px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u47 {
  position:absolute;
  left:15px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:49px;
}
#u48 {
  position:absolute;
  left:385px;
  top:83px;
  width:535px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u49 {
  position:absolute;
  left:15px;
  top:16px;
  width:518px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:49px;
}
#u50 {
  position:absolute;
  left:920px;
  top:83px;
  width:113px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u51 {
  position:absolute;
  left:15px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u52 {
  position:absolute;
  left:1033px;
  top:83px;
  width:101px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u53 {
  position:absolute;
  left:15px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u54 {
  position:absolute;
  left:1134px;
  top:83px;
  width:99px;
  height:49px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u55 {
  position:absolute;
  left:15px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
}
#u56 {
  position:absolute;
  left:1233px;
  top:83px;
  width:134px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u57 {
  position:absolute;
  left:15px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u58 {
  position:absolute;
  left:0px;
  top:132px;
  width:57px;
  height:40px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u60 {
  position:absolute;
  left:57px;
  top:132px;
  width:163px;
  height:40px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u61 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u62 {
  position:absolute;
  left:220px;
  top:132px;
  width:165px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u63 {
  position:absolute;
  left:15px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:40px;
}
#u64 {
  position:absolute;
  left:385px;
  top:132px;
  width:535px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u65 {
  position:absolute;
  left:15px;
  top:13px;
  width:518px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u66 {
  position:absolute;
  left:920px;
  top:132px;
  width:113px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u67 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u68 {
  position:absolute;
  left:1033px;
  top:132px;
  width:101px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u69 {
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u70 {
  position:absolute;
  left:1134px;
  top:132px;
  width:99px;
  height:40px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u71 {
  position:absolute;
  left:15px;
  top:13px;
  width:82px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u72 {
  position:absolute;
  left:1233px;
  top:132px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u73 {
  position:absolute;
  left:15px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u74 {
  position:absolute;
  left:0px;
  top:172px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u75 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u76 {
  position:absolute;
  left:57px;
  top:172px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u77 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u78 {
  position:absolute;
  left:220px;
  top:172px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u79 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u80 {
  position:absolute;
  left:385px;
  top:172px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u81 {
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u82 {
  position:absolute;
  left:920px;
  top:172px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u83 {
  position:absolute;
  left:15px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u84 {
  position:absolute;
  left:1033px;
  top:172px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u85 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u86 {
  position:absolute;
  left:1134px;
  top:172px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u87 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u88 {
  position:absolute;
  left:1233px;
  top:172px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u89 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u90 {
  position:absolute;
  left:0px;
  top:213px;
  width:57px;
  height:48px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u91 {
  position:absolute;
  left:15px;
  top:16px;
  width:40px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
}
#u92 {
  position:absolute;
  left:57px;
  top:213px;
  width:163px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u93 {
  position:absolute;
  left:15px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u94 {
  position:absolute;
  left:220px;
  top:213px;
  width:165px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u95 {
  position:absolute;
  left:15px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:48px;
}
#u96 {
  position:absolute;
  left:385px;
  top:213px;
  width:535px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u97 {
  position:absolute;
  left:15px;
  top:10px;
  width:518px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
}
#u98 {
  position:absolute;
  left:920px;
  top:213px;
  width:113px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u99 {
  position:absolute;
  left:15px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
}
#u100 {
  position:absolute;
  left:1033px;
  top:213px;
  width:101px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u101 {
  position:absolute;
  left:15px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:48px;
}
#u102 {
  position:absolute;
  left:1134px;
  top:213px;
  width:99px;
  height:48px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u103 {
  position:absolute;
  left:15px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u104 {
  position:absolute;
  left:1233px;
  top:213px;
  width:134px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u105 {
  position:absolute;
  left:15px;
  top:17px;
  width:117px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u106 {
  position:absolute;
  left:0px;
  top:261px;
  width:57px;
  height:57px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u107 {
  position:absolute;
  left:15px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
}
#u108 {
  position:absolute;
  left:57px;
  top:261px;
  width:163px;
  height:57px;
  text-align:left;
}
#u109 {
  position:absolute;
  left:15px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:57px;
}
#u110 {
  position:absolute;
  left:220px;
  top:261px;
  width:165px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u111 {
  position:absolute;
  left:15px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:57px;
}
#u112 {
  position:absolute;
  left:385px;
  top:261px;
  width:535px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u113 {
  position:absolute;
  left:15px;
  top:8px;
  width:518px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:57px;
}
#u114 {
  position:absolute;
  left:920px;
  top:261px;
  width:113px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u115 {
  position:absolute;
  left:15px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u116 {
  position:absolute;
  left:1033px;
  top:261px;
  width:101px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u117 {
  position:absolute;
  left:15px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:57px;
}
#u118 {
  position:absolute;
  left:1134px;
  top:261px;
  width:99px;
  height:57px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u119 {
  position:absolute;
  left:15px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:57px;
}
#u120 {
  position:absolute;
  left:1233px;
  top:261px;
  width:134px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u121 {
  position:absolute;
  left:15px;
  top:22px;
  width:117px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
}
#u122 {
  position:absolute;
  left:0px;
  top:318px;
  width:57px;
  height:55px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u123 {
  position:absolute;
  left:15px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:55px;
}
#u124 {
  position:absolute;
  left:57px;
  top:318px;
  width:163px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u125 {
  position:absolute;
  left:15px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u126 {
  position:absolute;
  left:220px;
  top:318px;
  width:165px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u127 {
  position:absolute;
  left:15px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:55px;
}
#u128 {
  position:absolute;
  left:385px;
  top:318px;
  width:535px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u129 {
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u130 {
  position:absolute;
  left:920px;
  top:318px;
  width:113px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u131 {
  position:absolute;
  left:15px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:55px;
}
#u132 {
  position:absolute;
  left:1033px;
  top:318px;
  width:101px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u133 {
  position:absolute;
  left:15px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:55px;
}
#u134 {
  position:absolute;
  left:1134px;
  top:318px;
  width:99px;
  height:55px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u135 {
  position:absolute;
  left:15px;
  top:20px;
  width:82px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:55px;
}
#u136 {
  position:absolute;
  left:1233px;
  top:318px;
  width:134px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u137 {
  position:absolute;
  left:15px;
  top:20px;
  width:117px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:44px;
}
#u138 {
  position:absolute;
  left:0px;
  top:373px;
  width:57px;
  height:44px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u139 {
  position:absolute;
  left:15px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:44px;
}
#u140 {
  position:absolute;
  left:57px;
  top:373px;
  width:163px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u141 {
  position:absolute;
  left:15px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u142 {
  position:absolute;
  left:220px;
  top:373px;
  width:165px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u143 {
  position:absolute;
  left:15px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:44px;
}
#u144 {
  position:absolute;
  left:385px;
  top:373px;
  width:535px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u145 {
  position:absolute;
  left:15px;
  top:15px;
  width:518px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
}
#u146 {
  position:absolute;
  left:920px;
  top:373px;
  width:113px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u147 {
  position:absolute;
  left:15px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u148 {
  position:absolute;
  left:1033px;
  top:373px;
  width:101px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u149 {
  position:absolute;
  left:15px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:44px;
}
#u150 {
  position:absolute;
  left:1134px;
  top:373px;
  width:99px;
  height:44px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u151 {
  position:absolute;
  left:15px;
  top:15px;
  width:82px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u152 {
  position:absolute;
  left:1233px;
  top:373px;
  width:134px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u153 {
  position:absolute;
  left:15px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u154 {
  position:absolute;
  left:0px;
  top:417px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u155 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u156 {
  position:absolute;
  left:57px;
  top:417px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u157 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u158 {
  position:absolute;
  left:220px;
  top:417px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u159 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u160 {
  position:absolute;
  left:385px;
  top:417px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u161 {
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u162 {
  position:absolute;
  left:920px;
  top:417px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u163 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u164 {
  position:absolute;
  left:1033px;
  top:417px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u165 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u166 {
  position:absolute;
  left:1134px;
  top:417px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u167 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u168 {
  position:absolute;
  left:1233px;
  top:417px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u169 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:38px;
}
#u170 {
  position:absolute;
  left:0px;
  top:458px;
  width:57px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u171 {
  position:absolute;
  left:15px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:38px;
}
#u172 {
  position:absolute;
  left:57px;
  top:458px;
  width:163px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u173 {
  position:absolute;
  left:15px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:38px;
}
#u174 {
  position:absolute;
  left:220px;
  top:458px;
  width:165px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u175 {
  position:absolute;
  left:15px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:38px;
}
#u176 {
  position:absolute;
  left:385px;
  top:458px;
  width:535px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u177 {
  position:absolute;
  left:15px;
  top:12px;
  width:518px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
}
#u178 {
  position:absolute;
  left:920px;
  top:458px;
  width:113px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u179 {
  position:absolute;
  left:15px;
  top:11px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u180 {
  position:absolute;
  left:1033px;
  top:458px;
  width:101px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u181 {
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u182 {
  position:absolute;
  left:1134px;
  top:458px;
  width:99px;
  height:38px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u183 {
  position:absolute;
  left:15px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
}
#u184 {
  position:absolute;
  left:1233px;
  top:458px;
  width:134px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u185 {
  position:absolute;
  left:15px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u186 {
  position:absolute;
  left:0px;
  top:496px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u187 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u188 {
  position:absolute;
  left:57px;
  top:496px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u189 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u190 {
  position:absolute;
  left:220px;
  top:496px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u191 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u192 {
  position:absolute;
  left:385px;
  top:496px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u193 {
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u194 {
  position:absolute;
  left:920px;
  top:496px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u195 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u196 {
  position:absolute;
  left:1033px;
  top:496px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u197 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u198 {
  position:absolute;
  left:1134px;
  top:496px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u199 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u200 {
  position:absolute;
  left:1233px;
  top:496px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u201 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u202 {
  position:absolute;
  left:0px;
  top:537px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u203 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u204 {
  position:absolute;
  left:57px;
  top:537px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u205 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u206 {
  position:absolute;
  left:220px;
  top:537px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u207 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u208 {
  position:absolute;
  left:385px;
  top:537px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u209 {
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u210 {
  position:absolute;
  left:920px;
  top:537px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u211 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u212 {
  position:absolute;
  left:1033px;
  top:537px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u213 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u214 {
  position:absolute;
  left:1134px;
  top:537px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u215 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u216 {
  position:absolute;
  left:1233px;
  top:537px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u217 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u218 {
  position:absolute;
  left:0px;
  top:578px;
  width:57px;
  height:58px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u219 {
  position:absolute;
  left:15px;
  top:21px;
  width:40px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
}
#u220 {
  position:absolute;
  left:57px;
  top:578px;
  width:163px;
  height:58px;
  text-align:left;
}
#u221 {
  position:absolute;
  left:15px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:58px;
}
#u222 {
  position:absolute;
  left:220px;
  top:578px;
  width:165px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u223 {
  position:absolute;
  left:15px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:58px;
}
#u224 {
  position:absolute;
  left:385px;
  top:578px;
  width:535px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u225 {
  position:absolute;
  left:15px;
  top:8px;
  width:518px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:58px;
}
#u226 {
  position:absolute;
  left:920px;
  top:578px;
  width:113px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u227 {
  position:absolute;
  left:15px;
  top:21px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u228 {
  position:absolute;
  left:1033px;
  top:578px;
  width:101px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u229 {
  position:absolute;
  left:15px;
  top:22px;
  width:84px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:58px;
}
#u230 {
  position:absolute;
  left:1134px;
  top:578px;
  width:99px;
  height:58px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u231 {
  position:absolute;
  left:15px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:58px;
}
#u232 {
  position:absolute;
  left:1233px;
  top:578px;
  width:134px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u233 {
  position:absolute;
  left:15px;
  top:22px;
  width:117px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u234 {
  position:absolute;
  left:0px;
  top:636px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u235 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u236 {
  position:absolute;
  left:57px;
  top:636px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u237 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u238 {
  position:absolute;
  left:220px;
  top:636px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u239 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u240 {
  position:absolute;
  left:385px;
  top:636px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u241 {
  position:absolute;
  left:15px;
  top:14px;
  width:518px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u242 {
  position:absolute;
  left:920px;
  top:636px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u243 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u244 {
  position:absolute;
  left:1033px;
  top:636px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u245 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u246 {
  position:absolute;
  left:1134px;
  top:636px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u247 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u248 {
  position:absolute;
  left:1233px;
  top:636px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u249 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u250 {
  position:absolute;
  left:0px;
  top:677px;
  width:57px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u251 {
  position:absolute;
  left:15px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u252 {
  position:absolute;
  left:57px;
  top:677px;
  width:163px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u253 {
  position:absolute;
  left:15px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u254 {
  position:absolute;
  left:220px;
  top:677px;
  width:165px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u255 {
  position:absolute;
  left:15px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:41px;
}
#u256 {
  position:absolute;
  left:385px;
  top:677px;
  width:535px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u257 {
  position:absolute;
  left:15px;
  top:6px;
  width:518px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u258 {
  position:absolute;
  left:920px;
  top:677px;
  width:113px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u259 {
  position:absolute;
  left:15px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u260 {
  position:absolute;
  left:1033px;
  top:677px;
  width:101px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u261 {
  position:absolute;
  left:15px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u262 {
  position:absolute;
  left:1134px;
  top:677px;
  width:99px;
  height:41px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u263 {
  position:absolute;
  left:15px;
  top:14px;
  width:82px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u264 {
  position:absolute;
  left:1233px;
  top:677px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u265 {
  position:absolute;
  left:15px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u266 {
  position:absolute;
  left:14px;
  top:101px;
  width:313px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u267 {
  position:absolute;
  left:30px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u268 {
  position:absolute;
  left:761px;
  top:101px;
  width:380px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u269 {
  position:absolute;
  left:30px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
