body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:64px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:1900px;
  height:64px;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1812_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1812.mouseOver {
}
#u1812_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1812.mouseDown {
}
#u1812_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1812.selected {
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1813_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1813.mouseOver {
}
#u1813_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1813.mouseDown {
}
#u1813_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1813.selected {
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:20px;
  width:172px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1815_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1815.mouseOver {
}
#u1815_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1815.mouseDown {
}
#u1815_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1815.selected {
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1816_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1816.mouseOver {
}
#u1816_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1816.mouseDown {
}
#u1816_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1816.selected {
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1817_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1817.mouseOver {
}
#u1817_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1817.mouseDown {
}
#u1817_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1817.selected {
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1818_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1818.mouseOver {
}
#u1818_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1818.mouseDown {
}
#u1818_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1818.selected {
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:3px;
  width:126px;
  height:54px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1819_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1819.mouseOver {
}
#u1819_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1819.mouseDown {
}
#u1819_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1819.selected {
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1473px;
  height:47px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:101px;
  width:1473px;
  height:47px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1469px;
  word-wrap:break-word;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:227px;
  width:120px;
  height:25px;
  color:#0000FF;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u1822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:278px;
  width:120px;
  height:25px;
  color:#0000FF;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:174px;
  width:120px;
  height:25px;
  color:#0000FF;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:214px;
  width:29px;
  height:28px;
}
#u1824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1224px;
  width:34px;
  height:32px;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:32px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1229px;
  width:24px;
  height:22px;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:292px;
  width:99px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:538px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:995px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1084px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-decoration:underline;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:242px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u1831_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1831_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:339px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1832_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:203px;
}
#u1832_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:187px;
  width:18px;
  height:18px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:585px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u1833_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:414px;
}
#u1833_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:398px;
  width:18px;
  height:18px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:197px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:1042px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u1834_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1834_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:1131px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u1835_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u1835_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:81px;
  width:18px;
  height:18px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:158px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:538px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:562px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1838_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:247px;
  height:8px;
}
#u1838_seg1 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:690px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:827px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:585px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1841_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u1841_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:93px;
  width:18px;
  height:18px;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:737px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1842_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u1842_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:78px;
  width:18px;
  height:18px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:874px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1843_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u1843_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:100px;
  width:18px;
  height:18px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:690px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:714px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1845_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-4px;
  width:75px;
  height:8px;
}
#u1845_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:851px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u1846_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-132px;
  width:8px;
  height:136px;
}
#u1846_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-132px;
  width:56px;
  height:8px;
}
#u1846_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-137px;
  width:18px;
  height:18px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-72px;
  width:100px;
  word-wrap:break-word;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:986px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:714px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1848_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u1848_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-156px;
  width:8px;
  height:160px;
}
#u1848_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-156px;
  width:58px;
  height:8px;
}
#u1848_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-161px;
  width:18px;
  height:18px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-83px;
  width:100px;
  word-wrap:break-word;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:690px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1849_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:33px;
}
#u1849_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:149px;
  height:8px;
}
#u1849_seg2 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-33px;
  width:8px;
  height:35px;
}
#u1849_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-10px;
  width:18px;
  height:18px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-36px;
  width:100px;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:158px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:538px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:827px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:986px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:585px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1854_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:246px;
}
#u1854_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:230px;
  width:18px;
  height:18px;
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:874px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1855_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u1855_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:100px;
  width:18px;
  height:18px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:851px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1856_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1856_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-293px;
  width:8px;
  height:297px;
}
#u1856_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-293px;
  width:60px;
  height:8px;
}
#u1856_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-298px;
  width:18px;
  height:18px;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-152px;
  width:100px;
  word-wrap:break-word;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:562px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1857_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u1857_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-74px;
  width:8px;
  height:78px;
}
#u1857_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-74px;
  width:501px;
  height:8px;
}
#u1857_seg3 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:-74px;
  width:8px;
  height:50px;
}
#u1857_seg4 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:-36px;
  width:18px;
  height:18px;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:238px;
  top:-77px;
  width:100px;
  word-wrap:break-word;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1084px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1084px;
  width:99px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1033px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1860_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u1860_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u1860_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:1033px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFCC99;
}
#u1861_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u1861_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1019px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1862_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:72px;
  height:8px;
}
#u1862_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-461px;
  width:8px;
  height:465px;
}
#u1862_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-461px;
  width:72px;
  height:8px;
}
#u1862_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-466px;
  width:18px;
  height:18px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-236px;
  width:100px;
  word-wrap:break-word;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1010px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1863_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1863_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-163px;
  width:8px;
  height:167px;
}
#u1863_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-163px;
  width:45px;
  height:8px;
}
#u1863_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-168px;
  width:18px;
  height:18px;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-86px;
  width:100px;
  word-wrap:break-word;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1010px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1864_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1864_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-163px;
  width:8px;
  height:167px;
}
#u1864_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-163px;
  width:45px;
  height:8px;
}
#u1864_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-168px;
  width:18px;
  height:18px;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-86px;
  width:100px;
  word-wrap:break-word;
}
