body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:165px;
  width:1231px;
  height:459px;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:128px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:34px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:0px;
  width:685px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:681px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:34px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:0px;
  width:293px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:289px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:125px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:34px;
  width:128px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:36px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:34px;
  width:685px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:681px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:36px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:34px;
  width:293px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:125px;
  height:55px;
  font-size:14px;
  text-align:center;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:70px;
  width:128px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:124px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:55px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:70px;
  width:685px;
  height:55px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:681px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:55px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:70px;
  width:293px;
  height:55px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:289px;
  word-wrap:break-word;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:125px;
  height:55px;
  font-size:14px;
  text-align:center;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:125px;
  width:128px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:124px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:55px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:125px;
  width:685px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:681px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:55px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:125px;
  width:293px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:125px;
  height:55px;
  font-size:14px;
  text-align:center;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:180px;
  width:128px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:124px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:55px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:180px;
  width:685px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:681px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:55px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:180px;
  width:293px;
  height:55px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:125px;
  height:50px;
  font-size:14px;
  text-align:center;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:235px;
  width:128px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:50px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:235px;
  width:685px;
  height:50px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:681px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:235px;
  width:293px;
  height:50px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:289px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:125px;
  height:60px;
  font-size:14px;
  text-align:center;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:285px;
  width:128px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:60px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:285px;
  width:685px;
  height:60px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:681px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:60px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:285px;
  width:293px;
  height:60px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:289px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:125px;
  height:57px;
  font-size:14px;
  text-align:center;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:345px;
  width:128px;
  height:57px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:57px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:345px;
  width:685px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:681px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:57px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:345px;
  width:293px;
  height:57px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:289px;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:125px;
  height:57px;
  font-size:14px;
  text-align:center;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:402px;
  width:128px;
  height:57px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:57px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:402px;
  width:685px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:681px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:57px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:402px;
  width:293px;
  height:57px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:289px;
  word-wrap:break-word;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:110px;
  width:137px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1492px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:1492px;
  height:77px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1252_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1252.mouseOver {
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1253_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1253.mouseOver {
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1254_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1254.mouseOver {
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1255_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1255.mouseOver {
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:23px;
  width:215px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:15px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1257_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1257.mouseOver {
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:18px;
  width:100px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1258_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u1258.mouseOver {
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
